.API{
background: rgb(255, 255, 255);
min-height: 100vh;
overflow-x: hidden;
}
.hill1,
.hill2,
.hill3,
.hill4,
.hill5,
.leaf,
.plant,
.tree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
