body {
  overflow-x: hidden;
}
.Projects {
  background: rgb(255, 255, 255);
  min-height: 100vh;
  overflow-x: hidden; 
}
#Intro {
  position: relative;
  background: #003329;
  padding: 500px;
  width: 50%;
  color: #ffffff;
  font-size: 2.5em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.hill1,
.hill2,
.hill3,
.hill4,
.hill5,
.leaf,
.plant,
.tree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  object-fit: cover;
}
/* Conteneur principal du formulaire */
form {
  background-color: #003329;
  padding: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}
form input,
form textarea {
  padding: 12px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
form button {
  background-color: #359381;
  color: white;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}
#FormTitle{
  background-color: #003329;
  padding: 30px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  text-align: center;
}
.reset-btn {
  color: red;
  margin: auto;
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  background-color: #003329;
  font-family: 'Poppins', sans-serif;
}



