body {
  margin: 0;
  padding: 0;
}
header{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}
Header {
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 30px 100px;
display: flex;
justify-content: flex-start;
align-items: center;
z-index: 100;
font-size: 2em;
color: #359381;
pointer-events: none;
margin-right: 270px; 
overflow-x: hidden;
}
Nav a{
align-items: center; 
color: #359381;
font-weight: 600;
margin: 0 10px;
padding: 6px 15px;
transition: all 0.1s ease;
font-family: 'Poppins', sans-serif;
text-decoration: none;
top: 0;
left: 100;
}
Nav a:hover{   
background-color: #359381;
color: white;
border-radius: 20px;

}
nav {
display: flex;
gap: 50px;
justify-content: center;
align-items: center;
font-size: 1.5em;

}




Footer { 
background-color: #359381;
color: white;
text-align: center;
padding: 20px;
margin: 0;         
border: none;  
}




